/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1f1f; /* Color de fondo oscuro */
    color: #fff; /* Color de texto */
  }
  
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #121212; /* Color de fondo del encabezado */
    padding: 20px 0;
    text-align: center;
  }
  
  header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
  }
  
  #primer-parrafo {
    padding: 8px;
    margin-bottom: 50px; 
  }

  .social img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  


  /* Estilos del contenido principal */
  main {
    padding: 20px 0;
  }
  
  

  section {
    margin-bottom: 30px;
  }

  #tecnologias {
    margin-bottom: 10px;
  }
  
  .logos-tecnologias{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
  }
  
  

  /* Estilos del pie de página */
  
  
  
  footer {
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color de texto del pie de página */
    text-align: center;
    padding: 10px 0;
  }
  